.rst-content > h1 + p {
    text-align: center;
    margin-bottom: 20px;
}

.rst-content > h1 + p a {
    display: inline-block;
    background-color: #0078D4;
    color: white !important;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}
